html,body{
  height:100%;
}

#wrapper{
  min-height:100%;
  position:relative;
  padding-top:100px; /*height of header*/
  padding-bottom: 60px; /*height of footer*/
}

header{
  position:fixed;
  top:0;
  left:0;
  height:100px;
  width:100%;
  z-index:1;
  background-color:#BE2939;
  background: -webkit-linear-gradient(top,  #BE2939,  #96000B);
  color:white;
  text-align:center;
  font-size:50px;
  box-shadow: 0 1px 10px #96000B;
}

header a{
  color:#FFFFFF;
}

header a:hover{
  color:#FFFFFF;
  text-decoration:none;
}

a{
  cursor: pointer;
}

#usr-group{
  position:absolute;
  right:50px;
  top:25px;
  border-radius: 5px;
}

#usr-group button, #usr-group{
  border-color:#C94D5A;
  background-color:transparent;
  color:#FFFFFF;
}

#usr-group:hover, #usr-group:hover button{
  background-color:#BE2939;
  border-color:#96000B;
}

#content{
  width:100%;
}


.map-img{
  position:fixed;
  top:0;
  z-index:-1;
  width:100%;
  height:500px;
  background-image: url('../img/bgmap.jpg');
}

#timeline-img{
  height:50%;
  position:absolute;
  top:15%;
  right:-100px;
}

.blank{
  height:400px;
}

.pageColor{
  height:200px;
  background-color:#BE2939;
  background: -webkit-linear-gradient(top,  #BE2939,  #96000B);
  box-shadow: 0 1px 10px #96000B inset;
}

.features{
  margin-top:-20px;
  padding-top:50px;
  background-color:#FFFFFF;
  height:500px;
  z-index:1;
  box-shadow: 0 1px 10px #888888;
}

.bucket{
  width:80%;
  margin: 20px auto; 
}

.feature{
  width:33%;
  display: inline-block;
  text-align:center;
  padding:10px;
}

div.feature img{
  border-radius:50%;
}

.get-started{
  position:relative;
  height:300px;
  background-color:#dddddd;
}

.get-started a{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-20px;
  margin-left:-65px;
}

/********************************
 * 
 * Login Styles
 * 
 * ******************************/

#login-container{
  margin:50px auto;
  padding: 20px;
  width:80%;
  box-shadow: 0 1px 10px #888888;
}

.login-block{
  display: inline-block;
  vertical-align: top;
  padding:20px 30px;
  width: 49%;
  height: 100%;
}

.login-block input{
  margin:5px;
}

#signup{
  border-right: 1px solid #888888;
}


footer{
  background-color:#BE2939;
  background: -webkit-linear-gradient(top,  #BE2939,  #96000B);
  color:white;
  text-align:center;
  position:absolute;
  bottom:0;
  width:100%;
  padding:20px;
  box-shadow: 0 1px 10px #96000B;
}

/************************
 *
 * styles for error messages
 * 
 * **********************/
.inputErrorMessage, .requiredInputMsg{
	border-radius: 10px;
	/*background-color:#96000B;*/
	color:#96000B;
	/*padding: 5px;*/
	font-size:15px;
	font-family:sans-serif;
	font-style: italic;
	margin: 5px;
} 
