#wrapper{
  padding:0;
}

header{
  background-color: #BE2939;
}

.map-header{
  width:200px;
  height:50px;
  background-color: transparent;
  background: transparent;
  border-radius:5px;
  margin:5px;
  box-shadow: 0 1px 10px #888888;
  -webkit-transition: width 1s .5s, height 1s .5s, background-color 1s .5s, margin 1s .5s, border-radius 1s .5s, box-shadow 1s .5s;
       -o-transition: width 1s .5s, height 1s .5s, background-color 1s .5s, margin 1s .5s, border-radius 1s .5s, box-shadow 1s .5s;
          transition: width 1s .5s, height 1s .5s, background-color 1s .5s, margin 1s .5s, border-radius 1s .5s, box-shadow 1s .5s;
}


#usr-group{
  right:0;
  top:0;
  width:200px;
  }


#usr-group button{
  background-color:#BE2939;
  background: -webkit-linear-gradient(top,  #BE2939,  #96000B);
  color:#FFFFFF;
  border:1px solid #96000B;
  height:50px;
  opacity:0;
 -webkit-transition: opacity 1s;
         transition: opacity 1s;
}

#usr-group button:first-of-type{
  width:165px;
}

#usr-group:hover button, #usr-group.open button{
  opacity: 1;
}

#usr-group ul{
  width:200px;
}

#edit-post{
  position: absolute;
  left: 5px;
  top: 5px;
  z-index:1;
  width:200px;
  height:50px;
  background-color:#BE2939;
  background: -webkit-linear-gradient(top,  #BE2939,  #96000B);
  border-color:#96000B;
  color:#FFFFFF;
  display:none;
}

#content{
  overflow: hidden;
  /*position:relative;*/
  width:100%;
  height:100%;
}

#new-collection{
  display:none;
}

#map{
  /*display:inline-block;*/
  width:100%;
  height:100%;
}


#timeline-container{
  position:absolute;
  bottom:0;
  width:100%;
  background-color: white;
  border-radius:5px;
  height:20%;
}



/* Custom styles for the Timeline */
div.timeline-frame {
    border-color: #96000B;

    border-radius: 5px;
    position:absolute;
    bottom:0;
}
div.timeline-axis {
    border-color: #96000B; 
    background-color: #BE2939;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0'); /* for IE */
    background: -webkit-linear-gradient(top,  #BE2939,  #96000B); /* for webkit browsers */
    /*background: -moz-linear-gradient(top,  #C94D5A,  #96000B); /* for firefox 3.6+ */
   cursor:move;
}
div.timeline-axis-grid {
}
div.timeline-groups-axis {
    border-color: #96000B;
    background-color: white;
}
div.timeline-axis-text {
    color: white;
}
div.timeline-groups-text {
    color: #4D4D4D;
}
div.timeline-event {
    color: white;
    border-radius: 5px;
}
div.timeline-event-content {
    padding: 5px;
}

div.timeline-content{
    background-color:white;
    cursor:ew-resize;
}

.timeline-event-box:hover{
	opacity:1 !important;
}

.mapFull{
	z-index: 1000 !important;
	position: relative;
}

.modal-body{
  
}

#color{
  display:inline-block;
  vertical-align:middle;
}

#colorpicker{
 margin-left:50px;
 display:inline-block;
 vertical-align: middle;
}
/*search bar styles*/
.searchControls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #search-input {
        margin-right:5px;
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 100px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
        transition: width 1s;
      }

      #search-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 500px;
        transition: width 1s;
      }

      .search-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
