
#wrapper{
  padding:0;
}

.map-header{
  width:200px;
  height:50px;
  background-color: transparent;
  border-radius:5px;
  margin:5px;
  -webkit-transition: width 1s .5s, height 1s .5s, background-color 1s .5s, margin 1s .5s, border-radius 1s .5s;
}

#usr-group{
  right:0;
  top:0;
  width:200px;
  height:50px;
  background-color:transparent;
}

#usr-group:hover{
  background-color:transparent;
}

#usr-group button{
  background-color: transparent;
  color: transparent;
  border:none;
  height:50px;
  -webkit-transition: background-color .5s, color .5s;
}

#usr-group button:first-of-type{
  width:167px;
}

#usr-group:hover button, #usr-group.open button{
  background-color:#BE2939;
  color:#FFFFFF;
  -webkit-transition: background-color .5s, color .5s;
}

#usr-group ul{
  width:200px;
}


#map{
  width:100%;
  height:500px;
}

#timeline-container{
  position:absolute;
  bottom:0;
  width:100%;
  height:20%;
}

#timeline{
  margin-left:2%;
}

#left-fade{
  z-index:1;
  position: absolute;
  left:0;
  height:100%;
  width:10%;
  background: -webkit-linear-gradient(left, #FFFFFF, transparent);
}

#right-fade{
  z-index:1;
  position:absolute;
  right:0;
  height:100%;
  width:20%;
  background: -webkit-linear-gradient(right, #FFFFFF, transparent);
}

div.timeline-axis-text-major{
  margin-left:2%;
}

div.timeline-frame{
  border-left:none;
}
