<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}GeoTimeline{% endblock %} - GeoTimeline</title>
    
    <link rel="shortcut icon" href="{{request.static_url('geotimeline:static/img/map_48x48.ico')}}">
    
    <!-- Jquery CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <!-- Bootstrap Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{request.static_url('geotimeline:static/css/styles.css')}}" />
    
    {% endblock %}
</head>
<body>
  <div id='wrapper'>
    <header>
      {% block header %}
        <!-- <button id='friends' type="button" class="btn btn-default">Friends</button> -->
        <a class='title' href="{{request.application_url}}/">GeoTimeline</a>
        {% if logged_in %}
          <div id='usr-group' class="btn-group">
            <button type="button" class="btn btn-default btn-lg">User Name</button>
            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li id="new-event-click"><a><span>New Event</span></a></li>
              <li><a href="{{request.application_url}}/timemap">Go To TimeMap</a></li>
              <li><a href="{{request.application_url}}/">Settings</a></li>
              <li><a href="{{request.application_url}}/">Friends</a></li>
              <li><a><span data-toggle="modal" data-target=".event-post-modal">Show Modal</span></a></li>
              <li class="divider"></li>
              <li><a href="{{request.application_url}}/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        {% else %}
          <a id='usr-group' href="{{request.application_url}}/timemap" class="btn btn-default btn-lg" role="button">Login/Sign Up</a>
        {% endif %}
        <!-- <button type="button" class="btn btn-default">Login</button> -->
      {% endblock %}
    </header>
    
        <div id='content'>
        {% block content %}{% endblock %}
        </div>
    <footer>
        {% block footer %}
        &copy; Copyright 2014 by <a href="http://domain.invalid/">us</a>.
        {% endblock %}
    </footer>
  </div>
  {% block scripts %}{% endblock %}
</body>