{% extends "base.html" %}
{% block title %}TimeMap{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Add to head here -->
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{{request.static_url('geotimeline:static/js/timeline-2.6.1/timeline.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{request.static_url('geotimeline:static/js/timeline-2.6.1/timeline.css')}}">
    <link rel="stylesheet" type="text/css" href="{{request.static_url('geotimeline:static/css/timemap.css')}}">
{% endblock %}

{% block content %}
  <div id='map'></div>
  <div id='timeline-container'>
    <div id='left-fade'></div>
    <div id='right-fade'></div>
    <div id='timeline'></div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="{{request.static_url('geotimeline:static/js/timemap.js')}}"></script>
{% endblock %}