{% extends "base.html" %}
{% block title %}TimeMap{% endblock %}
{% block head %}
    {{ super() }}
    <!-- Add to head here -->
    
    <!-- <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization,geometry,drawing,places&sensor=false"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="{{request.static_url('geotimeline:static/js/timeline-2.6.1/timeline.js')}}"></script>
    <script src="{{request.static_url('geotimeline:static/js/farbtastic/farbtastic.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{request.static_url('geotimeline:static/js/timeline-2.6.1/timeline.css')}}">
    <link rel="stylesheet" type="text/css" href="{{request.static_url('geotimeline:static/js/farbtastic/farbtastic.css')}}">
    <link rel="stylesheet" type="text/css" href="{{request.static_url('geotimeline:static/css/timemap.css')}}">
    
{% endblock %}

{% block content %}

  <div id='map'></div>
  <div id='timeline-container'></div>
  <!--write submit form for new events here-->

  
  
  
  <div id="view-modal" class="modal fade event-post-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close new-close" data-dismiss="modal" aria-hidden="true">&times;</button>

          <h4 id="view-modal-title" class="modal-title" id="myModalLabel">Event Title</h4>
        </div>
        <div id="view-modal-body" class="modal-body">
          
        </div>
        <div class="modal-footer">
        	<input type="hidden" id="eventId"/>
          <button type="button" class="btn btn-primary edit-event">Edit</button>
          <button type="button" class="btn btn-primary">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div id="new-modal" class="modal fade new-event-modal" data-backdrop='static' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <form role="form" id="new-event" method="post">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close new-close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 id="new-modal-title" class="modal-title" id="myModalLabel">Create New Event</h4>
	        </div>
	        <div id="new-modal-body" class="modal-body">
	        	<div class="inputErrorMessage">
					<!-- eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
        		</div>
			  <div class="form-group">
			    <label for="eventName">Enter Event Name</label><span class="requiredInputMsg"></span>
			    <input type="text" class="form-control requiredInput" id="eventName" placeholder="ex. First Time GeoTimeBlogging">
			  </div>
			  <div class="form-group">
				  <label for="collectionInput">Collection</label><span class="requiredInputMsg"></span>
				  <select id="collectionInput" class="form-control">
				  	<option value="null">Create new collection</option>
				  </select>
			  </div>
			  <div id="new-collection">
				  <div class="form-group">
				    <label for="newCollection">New Collection Name</label><span class="requiredInputMsg"></span>
				    <input type="text" class="form-control requiredInput" id="newCollection" placeholder="ex. Family Vacation 2011">
				  </div>
				  <div class="form-group">
				    <label for="color">Collection Color</label><span class="requiredInputMsg"></span>
				    <input type="text" class="form-control requiredInput" id="color" name="color" value="#123456" style="width:200px"/>
				    <div id="colorpicker"></div>
				  </div>
			  </div>
			  <div class="form-group">
				<label for="startDate">Start Date</label><span class="requiredInputMsg"></span>
				<input type="text" class="form-control requiredInput" id="startDate" placeholder="02/15/2011">
			  </div>
			  <div class="form-group">
			    <label for="endDate">End Date</label><span class="requiredInputMsg"></span>
			    <input type="text" class="form-control" id="endDate" placeholder="02/16/2011">
			  </div>
			  <div class="form-group">
			    <label for="eventDescription">Event Description</label><span class="requiredInputMsg"></span>
			    <textarea rows="8" class="form-control" id="eventDescription" placeholder="ex. When I went parachuting..."></textarea>
			  </div>
			  <div class="inputErrorMessage">
				<!-- eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee -->
        	</div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary new-close" data-dismiss="modal">Cancel</button>
	          <button type="button" class="btn btn-default new-submit" type='submit'>Save</button>
	        </div>
	       
	      </div>
      </form>
    </div>
  </div>
  
  <!-- this is the edit-modal form but it has the same ids as the new-modal form so I commented it out to avoid conflict -->
  <!-- <div id="edit-modal" class="modal fade edit-event-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="edit-modal-title" class="modal-title" id="myModalLabel">Event Title</h4>
        </div>
        <div id="edit-modal-body" class="modal-body">
          <div class="form-group">
			    <label for="eventName">Enter Event Name</label>
			    <input type="text" class="form-control" id="eventName">{{name}}</input>
			  </div>
			  <div class="form-group">
				  <label for="collectionInput">Collection</label>
				  <select id="collectionInput" class="form-control">
				  	<option value='null'>Create new collection</option>
				  </select>
			  </div>
			  <div id="new-collection">
				  <div class="form-group">
				    <label for="newCollection">New Collection Name</label>
				    <input type="text" class="form-control" id="newCollection" placeholder="ex. Family Vacation 2011">
				  </div>
				  <div class="form-group">
				    <label for="color">Collection Color</label>
				    <input type="text" class="form-control" id="color" name="color" value="#123456" style="width:200px"/>
				    <div id="colorpicker"></div>
				  </div>
			  </div>
			  <div class="form-group">
				<label for="startDate">Start Date</label>
				<input type="text" class="form-control" id="startDate">{{start}}</input>
			  </div>
			  <div class="form-group">
			    <label for="endDate">End Date</label>
			    <input type="text" class="form-control" id="endDate">{{end}}</input>
			  </div>
			  <div class="form-group">
			    <label for="eventDescription">Event Description</label>
			    <textarea rows="8" class="form-control" id="eventDescription" placeholder="ex. When I went parachuting..."></textarea>
			  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default">Save Edits</button>
        </div>
      </div>
    </div>
  </div> -->
  
{% endblock %}


{% block scripts %}
  <script>
    saveEventUrl = "{{saveEventUrl}}";
    getEventsUrl = "{{getEventsUrl}}";
    saveCollectionUrl = "{{saveCollectionUrl}}";
  </script>
  <!-- These are the links for the jquery ui datetime picker -->
  <!-- Do not use this one because we already have jquery loaded in the base.html page -->
  <!-- <script src="{{request.static_url('geotimeline:static/js/datetimepicker-master/jquery.js')}}"></script> -->
  <script src="{{request.static_url('geotimeline:static/js/datetimepicker-master/jquery.datetimepicker.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{request.static_url('geotimeline:static/js/datetimepicker-master/jquery.datetimepicker.css')}}">
  <!-- End of the links for the jquery ui datetime picker -->
  <script src="{{request.static_url('geotimeline:static/js/timemap.js')}}"></script>

{% endblock %}